<div class="navbar-custom py-4 px-3">
    <div class="d-flex justify-content-between">
        <div class="">
            <img src="/assets/logo.png" alt="Logo">
        </div>
        <div class="">
            <img src="/assets/user-profile.png" alt="">
        </div>
    </div>
</div>