<div class="sidebar">
  <div class="sidebar-menu">
    <div>
      <img src="/assets/sidebarlogo.png" alt="#" />
    </div>
    <div class="mt-4">
      <a href="#">
        <div>
            <img src="/assets/home-icon.png" alt="#" />
          </div>
          <p>Dashboard</p>
      </a>
    </div>
    <div class="mt-4">
      <div>
        <img src="/assets/cars-icon.png" alt="#" />
      </div>
      <a href="#">Cars</a>
    </div>
  </div>
</div>
