<div class="pb-3">
  <div class="px-4 py-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Library</li>
      </ol>
    </nav>
    <div class="d-flex justify-content-between">
        <h5>Car</h5>
        <a class="btn-add" href="#"><span class="pr-2">+</span>Add New Car</a>
    </div>
  </div>
  <div class="lsit-car d-flex px-4">
   <div class="row">
    <div class="col-md-4 mt-3 mr-3">
        <div class="card" >
            <img src="/assets/car.png" class="card-img-top" alt="car" />
            <div class="card-body">
              <p>nama/tipemobil</p>
              <p>Rp. 450.000</p>
              <p>Updated at 4 Apr 2022, 09.00</p>
              <div class="d-flex justify-content-between">
                <a href="#" class="btn btn-delete">Delete</a>
              <a href="#" class="btn btn-edit"><i class="bi bi-pencil-square"></i>Edit</a>
              </div>
            </div>
          </div>
    </div>
    <div class="col-md-4 mt-3">
        <div class="card">
            <img src="/assets/car.png" class="card-img-top" alt="car" />
            <div class="card-body">
              <p>nama/tipemobil</p>
              <p>Rp. 450.000</p>
              <p>Updated at 4 Apr 2022, 09.00</p>
              <div class="d-flex justify-content-between">
                <a href="#" class="btn btn-delete">Delete</a>
              <a href="#" class="btn btn-edit">Edit</a>
              </div>
            </div>
          </div>
    </div>
    <div class="col-md-4 mt-3">
        <div class="card">
            <img src="/assets/car.png" class="card-img-top" alt="car" />
            <div class="card-body">
              <p>nama/tipemobil</p>
              <p>Rp. 450.000</p>
              <p>Updated at 4 Apr 2022, 09.00</p>
              <div class="d-flex justify-content-between">
                <a href="#" class="btn btn-delete">Delete</a>
              <a href="#" class="btn btn-edit">Edit</a>
              </div>
            </div>
          </div>
    </div>
   </div>
  </div>
</div>
